@charset "UTF-8" ;

:root {
    --cor01: rgb(6, 179, 6);
    --cor02: rgb(68, 219, 68);
    --cor03: rgb(6, 121, 6);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
header h1 {
    padding: 35px;
    text-align: center;
    color: var(--cor01);
    font-weight: 800;
    font-size: 1.6em;
}
header li {
    background-color: var(--cor03);    
    list-style-type: none;
    text-align: center;
}

#burger {
    background-color: var(--cor03);
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    
}

#burger:hover {
    background-color: var(--cor02);
}

menu {
    display: none;
}

menu > ul > li > a {
    color: white;
    text-decoration: none;  
}

menu li:hover {
    background-color: var(--cor02);
}

menu li {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}

body {
    background-color: rgb(255, 255, 255);
}

main {
    width: 90vw;
    margin: auto;
    margin-top: 50px;
    background-color: var(--cor03);
    border-radius: 20px;
    padding: 20px;
}

main h2 {
    text-align: center;
    color: white;
    padding: 10px;
    padding-bottom: 20px;
}

main article {
    color: white;
}

