@charset "UTF-8";

/*estilos para orientação em paisagem*/

html, body {
    background-image: url(../cev-landscape.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
}