@charset "UTF-8";

/*Estilos Para Modo Retrato*/

html, body {
    background-image: url(../cev-portrait.jpg);
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}